h1{
  color: pink;
  font-stretch: expanded;
}

body{
  background-color: #42f4d1
}

.warning{
color:#7741f4
}

p1{
 color: blue;
 font-size: 150px;

}

p2{
  color: purple;
  font-family: cursive;
  font-size: 85px
}
